<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
      <hr>
   
        
      <table>
        <thead>
        <th>Status</th>
        <th> name</th>
        </thead>
        <tbody>
        <tr *ngFor="let ac of accounts">
        <td>{{ac.status}}</td>
        <td>{{ac.name}}</td>
        </tr>
        </tbody>
        </table>
        

    <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"></app-account>
  
    </div>
  </div>
</div>
